.content-wrapper {
    background-color: #ffffff !important;
}

.navbar-white {
    background-color: #F3F4ED;
}

.layout-fixed .main-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #fff;
}

#logo-id {
    width: 300px;
    color: #FFC26F;
    background-color: #526D82;
    font-size: xx-large;
    font-family: monospace;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 24px;
}

b, strong {
    font-weight: bolder;
    color: #526D82;
}

.fas {
    font-weight: 900;
}

.far {
    font-weight: 400;
    color: #526D82;
}

.fas.fa-upload, .fas.fa-person-running, .fas.fa-rotate {
    font-weight: 900;
    color: #fff;
}

.card {
    box-shadow: 1px 1px 5px #526D82, 1px 1px 5px #526D82;
    margin-bottom: 1rem;
}

.card-title {
  font-family: monospace;
}

#data_read_1-btn_prev {
  color: #526D82 !important;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-right: 7.5px;
}

.os-content {
    padding: 0px 3px !important;
}

.selectize-control {
    margin-bottom: 10px;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input,
.selectize-control.multi .selectize-input.has-items {
    cursor: pointer;
    border: 1px solid #293B5F;
    background-color: #F3F4ED;
}

label {
    display: flex;
    font-family: monospace;
}

div.sidebar .shiny-input-container {
    white-space: normal;
}

.dropdown-menu.show {
    display: contents;
}

.btn-default {
    background-color: #3BACB6;
    border-color: #ddd;
    color: #fff;
    width: 180px;
    border-radius: 2rem;
    font-family: monospace;
}

.btn-disabled {
    background-color: #E1E5EA !important;
    border: 2px solid grey !important;
    color: grey !important;
    border-radius: 2rem;
    pointer-events: none;
}

.btn.btn-file {
    overflow: hidden;
    background-color: #526D82;
    border: 2px solid #293B5F;
    width: 120px !important;
    color: #fff;
    position: relative;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    border: 2px solid grey;
}

.nav-item {
    font-family: monospace;
}

.nav-pills .nav-link {
    color: #6c757d;
    border: 2px solid #c7c1c1 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #FFC26F;
    background-color: #526D82;
    margin-right: 5px !important;
    border: 2px solid #293B5F !important;
    font-weight: 400 !important;
}

.nav-item>a:hover {
    color: #fff !important;
    background-color: #FFC26F !important;
    border: 2px solid #293B5F !important;
    border-radius: 4px !important;
}

.nav-link.disabled {
    pointer-events: none;
    cursor: default;
    margin-right: 5px !important;
}

.nav-link.disabled > p > span > i {
    color: lightgray !important;
}

#acc_st_filt > div > div.card-header {
  pointer-events: none;
  background: #F3F4ED !important;
  border-color: #526D82 !important;

}

#collapse_acc_st_filt_1.collapse.show>.card-body {
  padding: 1px;
}

.os-theme-dark>.os-scrollbar, .os-theme-light>.os-scrollbar {
    padding: 2px;
    box-sizing: border-box;
    background: 0 0;
    background-color: #fff;
}

.direct-chat-contacts {
    color: #2E4F4F;
    background-color: #fff !important;
    overflow: auto;
    border-style: ridge;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-width: thick;
    height: fit-content !important;
}

.accordion>.card>.card-header {
    border-radius: 4px;
    border-color: #3BACB6 !important;
    margin-bottom: 0;
    background-color: #ffffff !important;
}

.d-block, .d-block:hover {
    display: block!important;
    color: #526D82;
    text-align: center;
}

.side_apply {
    background-color: #3BACB6;
    border-color: #ddd;
    color: #fff;
    width: 180px;
    border-radius: 2rem;
    display: flex !important;
    justify-content: space-around;
}

#adsl_filters_1-apply {
    margin-right: 15px !important;
}

.h2, h2 {
    font-size: 1.2rem;
}

.pretty {
    position: relative;
    display: flex !important;
    margin-right: 1rem;
    white-space: nowrap;
    line-height: 1;
}

.pretty .state label:before {
    border-color: #293B5F !important;
}

.pretty.p-switch .state:before {
    border: 2px solid #293B5F;
    background-color: #526D82 !important;
}

.pretty.p-switch .state label:after {
    background-color: #FFC26F !important;
    border: 2px solid #293B5F;
}

.pretty.p-switch input:checked~.state.p-info:before {
    border: 2px solid #293B5F;
}

.pretty.p-switch.p-fill input:checked~.state.p-info:before {
    background-color: #526D82 !important;
    border: 2px solid #293B5F;
}

.pretty.p-switch.p-fill input:checked~.state label:after {
    background-color: #FFC26F !important;
    border: 2px solid #293B5F;
}

.pretty input:checked~.state.p-info label:after,.pretty.p-toggle .state.p-info label:after {
    border-color: #293B5F !important;
    background-color: #3BACB6 !important;
}

.pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: #3BACB6 !important;
}

.irs--shiny .irs-bar {
    top: 25px;
    height: 8px;
    border-color: #526D82 !important;
    background: #526D82 !important;
}

.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single {
  background-color: #3BACB6 !important;
}

.bootstrap-select>.dropdown-toggle {
    background-color: #F3F4ED !important;
    border: 1px solid #293B5F !important;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    position: static !important;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #a7bcae;
    transition: width .6s ease;
}

.rt-expander:after {
    border-left: 5.04px solid transparent;
    border-right: 5.04px solid transparent;
    border-top: 7px solid #3BACB6;
}

.side_accord > div {
    padding: 0.25rem;
}

div.card.side_accord > div.card-header {
    background: #F3F4ED !important;
    border: #526D82 !important;
}

div.card.setup_accord {
    box-shadow: 1px 1px 5px #526D82, 1px 1px 5px #526D82 !important;
}

div.card.setup_accord > div.card-header {
    background: #F3F4ED !important;
    border: 1px solid #526D82 !important;
}

div.card.setup_accord > div.card-header > h4 > a {
  color: #526D82 !important;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #F3F4ED;
    border-top: 0 solid rgba(0,0,0,.125);
    font-size: small;
    font-family: monospace;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: monospace;
}

.table {
    font-family: monospace;
    font-size: 15px;
    color: #526D82 !important;
    border: 2px solid #343a40;
    margin-top: -2rem;
    pointer-events: none;
}

.table td {
    border: 1px solid #343a40;
}

.table th {
    background: #F3F4ED;
    border-top: 1px solid #343a40;
}

.tabwid thead {
    background-color: #F3F4ED !important;
}

div > table > tbody > tr > td > p > span,
div > table > thead > tr > th > p > span {
  font-family: monospace !important;
  color: #526D82 !important;
}

.btn-tool {
    background-color: #526D82;
    color: #FFC26F;
}

.shiny-output-error-validation {
    color: #3BACB6 !important;
    padding-left: 225px !important;
}
