.navbar-white {
    background-color: #A3C7D6;
}

.layout-fixed .main-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #fff;
}

#logo-id {
    width: 250px;
    color: #fff;
    background-color: #624F82;
    font-size: x-large;
    padding: 6px;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-right: 7.5px;
}

.nav-sidebar .nav-item>.nav-link {
    position: relative;
    margin-right: 75px;
}

.selectize-control {
    margin-bottom: 10px;
    margin-right: 100px;
}

label {
    display: flex;
    margin-bottom: .5rem;
    margin-right: 100px;
}

div.sidebar .shiny-input-container {
    padding: 12px 100px 0px 5px;
    white-space: normal;
}

.dropdown-menu.show {
    display: contents;
}

.btn-default {
    background-color: #624F82;
    border-color: #ddd;
    color: #fff;
    width: 180px;
    border-radius: 2rem;
}

.btn.btn-file {
    overflow: hidden;
    background-color: #A3C7D6;
    border: 2px solid #624F82;
    position: relative;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    border: 2px solid #624F82;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link {
    background-color: #E9D5DA;
    color: #212529;
    margin-right: 5px !important;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link {
    background-color: #E9D5DA;
    color: #212529;
    margin-right: 75px !important;
}

.nav-sidebar .nav-item>.nav-link {
    background-color: #E9D5DA;
    margin-right: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #624F82;
}

.nav-item>a:hover {
    color: #fff !important;
    background-color: #A3C7D6 !important;
}

.os-theme-dark>.os-scrollbar, .os-theme-light>.os-scrollbar {
    padding: 2px;
    box-sizing: border-box;
    background: 0 0;
    background-color: #fff;
}

.direct-chat-contacts {
    bottom: 0;
    color: #2E4F4F;
    background-color: #f5f2fa !important;
    overflow: auto;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: start;
    border-style: ridge;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-width: thick;
    height: fit-content !important;
}

#box_adsl .card-header {
    background-color: aliceblue !important;
}

#box_adae .card-header {
    background-color: aliceblue !important;
}

#box_adae_summ .card-header {
    background-color: aliceblue !important;
}

#box_adae_bod .card-header {
    background-color: aliceblue !important;
}

.side_apply {
    background-color: #624F82;
    border-color: #ddd;
    color: #fff;
    width: 180px;
    border-radius: 2rem;
    margin: auto;
}

.h2, h2 {
    font-size: 1.5rem;
}

.pretty {
    position: relative;
    display: flex !important;
    margin-right: 1rem;
    white-space: nowrap;
    line-height: 1;
}

.pretty .state label:before {
    border-color: #624F82 !important;
}

.pretty.p-switch .state:before {
    border: 2px solid #624F82;
}

.pretty.p-switch .state label:after {
    background-color: #624F82 !important;
}

.pretty.p-switch input:checked~.state.p-info:before {
    border: 2px solid #624F82;
}

.pretty.p-switch.p-fill input:checked~.state.p-info:before {
    background-color: transparent !important;
}

.pretty.p-switch.p-fill input:checked~.state label:after {
    background-color: #A3C7D6 !important;
}

.pretty input:checked~.state.p-info label:after,.pretty.p-toggle .state.p-info label:after {
    border-color: #624F82 !important;
    background-color: #A3C7D6 !important;
}

#global_filters_1-sex .pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: #A3C7D6 !important;
}

#global_filters_1-race .pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: #A3C7D6 !important;
}

#global_filters_1-ethnic .pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: #A3C7D6 !important;
}

#global_filters_1-country .pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: #A3C7D6 !important;
}

#adae_summary_1-events .pretty input:checked~.state.p-info label:after,.pretty.p-toggle .state.p-info label:after {
    border-color: #5bc0de !important;
    background-color: #A3C7D6 !important;
}

.irs--shiny .irs-bar {
    top: 25px;
    height: 8px;
    border-color: #624F82 !important;
    border-top: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
    background: #A3C7D6 !important;
}

.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single {
  background-color: #624F82 !important;
}

.bootstrap-select>.dropdown-toggle {
    background-color: #E9D5DA !important;
    border-color: #624F82 !important;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    position: static !important;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #a7bcae;
    transition: width .6s ease;
}
