.navbar-white {
    background-color: #D8E3E7;
}

.layout-fixed .main-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #fff;
}

#logo-id {
    width: 275px;
    color: #fff;
    background-color: #27374D;
    font-size: x-large;
    padding: 6px;
}

b, strong {
    font-weight: bolder;
    color: #27374D;
}

.fas {
    font-weight: 900;
    color: #27374D;
}

.far {
    font-weight: 400;
    color: #27374D;
}

.fas.fa-upload {
    font-weight: 900;
    color: #fff;
}

.card {
    box-shadow: 1px 1px 5px #9AC5F4, 1px 1px 5px #27374D;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-right: 7.5px;
}

.selectize-control {
    margin-bottom: 10px;
    margin-right: 100px;
}

label {
    display: flex;
    margin-bottom: .5rem;
    margin-right: 100px;
}

div.sidebar .shiny-input-container {
    white-space: normal;
}

.dropdown-menu.show {
    display: contents;
}

.btn-default {
    background-color: #3BACB6;
    border-color: #ddd;
    color: #fff;
    width: 180px;
    border-radius: 2rem;
}

.btn-disabled {
    background-color: #E1E5EA !important;
    border: 2px solid grey !important;
    color: grey !important;
    border-radius: 2rem;
}

.btn.btn-file {
    overflow: hidden;
    background-color: #27374D;
    border: 2px solid #293B5F;
    width: 120px !important;
    color: #fff;
    position: relative;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    border: 2px solid grey;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3BACB6;
    margin-right: 5px !important;
    border: 2px solid #293B5F !important;
    font-weight: 400 !important;
}

.nav-item>a:hover {
    color: #fff !important;
    background-color: #526D82 !important;
    border: 2px solid #293B5F !important;
    border-radius: 4px !important;
}

.nav-link.disabled {
    pointer-events: none;
    cursor: default;
    margin-right: 5px !important;
}

#acc_st_filt > div > div.card-header > h4 {
  pointer-events: none;
}

#collapse_acc_st_filt_1.collapse.show>.card-body {
  padding: 1px;
}

.os-theme-dark>.os-scrollbar, .os-theme-light>.os-scrollbar {
    padding: 2px;
    box-sizing: border-box;
    background: 0 0;
    background-color: #fff;
}

.direct-chat-contacts {
    bottom: 0;
    color: #2E4F4F;
    background-color: #F4F9F9 !important;
    overflow: auto;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: start;
    border-style: ridge;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-width: thick;
    height: fit-content !important;
}

.accordion>.card>.card-header {
    border-radius: 4px;
    border-color: #3BACB6 !important;
    margin-bottom: 0;
    background-color: #ffffff !important;
}

.d-block, .d-block:hover {
    display: block!important;
    color: #3BACB6;
    text-align: center;
}

#adsl_display_1-box_adsl .card-header {
    border-top: 2px solid #3BACB6 !important;
    border-left: 2px solid #3BACB6 !important;
}

#adae_global_1-adae_sev_tox_1-box_adae .card-header {
    border-top: 2px solid #3BACB6 !important;
    border-left: 2px solid #3BACB6 !important;
}

#adae_global_1-adae_summary_1-box_adae_summ .card-header {
    border-top: 2px solid #3BACB6 !important;
    border-left: 2px solid #3BACB6 !important;
}

#adae_global_1-adae_bodsys_1-box_adxx_bodsys .card-header {
    border-top: 2px solid #3BACB6 !important;
    border-left: 2px solid #3BACB6 !important;
}

#admh_bodsys_1-box_adxx_bodsys .card-header {
    border-top: 2px solid #3BACB6 !important;
    border-left: 2px solid #3BACB6 !important;
}

#adcm_bodsys_1-box_adxx_bodsys .card-header {
    border-top: 2px solid #3BACB6 !important;
    border-left: 2px solid #3BACB6 !important;
}

.side_apply {
    background-color: #3BACB6;
    border-color: #ddd;
    color: #fff;
    width: 180px;
    border-radius: 2rem;
    margin: auto;
}

.h2, h2 {
    font-size: 1.2rem;
}

.pretty {
    position: relative;
    display: flex !important;
    margin-right: 1rem;
    white-space: nowrap;
    line-height: 1;
}

.pretty .state label:before {
    border-color: #293B5F !important;
}

.pretty.p-switch .state:before {
    border: 2px solid #293B5F;
}

.pretty.p-switch .state label:after {
    background-color: #E1E5EA !important;
    border: 2px solid #293B5F;
}

.pretty.p-switch input:checked~.state.p-info:before {
    border: 2px solid #293B5F;
}

.pretty.p-switch.p-fill input:checked~.state.p-info:before {
    background-color: #E1E5EA !important;
    border: 2px solid #293B5F;
}

.pretty.p-switch.p-fill input:checked~.state label:after {
    background-color: #27374D !important;
    border: 2px solid #293B5F;
}

.pretty input:checked~.state.p-info label:after,.pretty.p-toggle .state.p-info label:after {
    border-color: #293B5F !important;
    background-color: #3BACB6 !important;
}

#global_filters_1-sex .pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: #3BACB6 !important;
}

#global_filters_1-race .pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: #3BACB6 !important;
}

#global_filters_1-ethnic .pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: #3BACB6 !important;
}

#global_filters_1-country .pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: #3BACB6 !important;
}

#adae_summary_1-events .pretty input:checked~.state.p-info label:after,.pretty.p-toggle .state.p-info label:after {
    border-color: #293B5F !important;
    background-color: #3BACB6 !important;
}

.irs--shiny .irs-bar {
    top: 25px;
    height: 8px;
    border-color: #526D82 !important;
    background: #27374D !important;
}

.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single {
  background-color: #3BACB6 !important;
}

.bootstrap-select>.dropdown-toggle {
    background-color: #D8E3E7 !important;
    border: 2px solid #293B5F !important;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    position: static !important;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #a7bcae;
    transition: width .6s ease;
}

.rt-expander:after {
    border-left: 5.04px solid transparent;
    border-right: 5.04px solid transparent;
    border-top: 7px solid #3BACB6;
}

#collapse_adae_global_1-adae_summary_1-filter_reactivity_1-acc_filt_react_1 > div,
#collapse_adae_global_1-adae_bodsys_1-filter_reactivity_1-acc_filt_react_1 > div,
#collapse_adae_global_1-adae_sev_tox_1-filter_reactivity_1-acc_filt_react_1 > div,
#collapse_admh_bodsys_1-filter_reactivity_1-acc_filt_react_1 > div,
#collapse_adcm_bodsys_1-filter_reactivity_1-acc_filt_react_1 > div {
  padding: 0.5rem;
}

#adae_global_1-adae_summary_1-filter_reactivity_1-acc_filt_react > div > div.card-header,
#adae_global_1-adae_bodsys_1-filter_reactivity_1-acc_filt_react > div > div.card-header,
#adae_global_1-adae_sev_tox_1-filter_reactivity_1-acc_filt_react > div > div.card-header,
#admh_bodsys_1-filter_reactivity_1-acc_filt_react > div > div.card-header,
#adcm_bodsys_1-filter_reactivity_1-acc_filt_react > div > div.card-header {
  pointer-events: none;
}
